body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

}

.layout-container {
  margin: 0;
  padding: 0;
}


.background-img {
  background-image: url('./assets/hero.png');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 700px;

}

.site-layout-content {
  background: #fff;

  min-height: 540px;
}


.ant-layout-header {
  display: flex;
  justify-content: flex-end;
}

#components-layout-demo-top .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}


.login-form {
  margin-top: 10%;
}

.message-container {
  display: flex;
  justify-content: center;
}

.message-container p {
  color: red;
}

.user-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-card {
  display: flex;
  flex-wrap: wrap;
}

.product-card img {
  width: 200px;
}



.container {
  min-width: 600px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
}

.left-column {
  width: 65%;
  position: relative;
}

.right-column {
  width: 35%;
  margin-top: 60px;
}

.left-column img {
  width: 400px;
  position: absolute;
  left: 100px;
  top: 20px;
  opacity: 0;
  transition: all 3s ease;
}

.left-column img.active {
  opacity: 1;
}

.product-description {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}

.product-description span {
  font-size: 12px;
  color: #358ED7;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}

.product-description h1 {
  font-weight: 300;
  font-size: 52px;
  color: #43484D;
  letter-spacing: -2px;
}

.product-description p {
  font-size: 16px;
  font-weight: 300;
  color: #86939E;
  line-height: 24px;
}

.product-price {
  display: flex;
  align-items: center;
}

.product-price span {
  font-size: 26px;
  font-weight: 300;
  color: #43474D;
  margin-right: 20px;
}

.cart-btn {
  display: inline-block;
  background-color: #7DC855;
  border-radius: 6px;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 30px;
  transition: all .5s;
}

.cart-btn:hover {
  background-color: #64af3d;
}

.tags {
  display: flex;
  justify-content: space-around;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}