@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;1,400&family=Roboto&display=swap');

body {
  margin: 0 !important;
  padding: 0 !important;
}

.layout-container {
  margin: 0;
  padding: 0;
}

.background-img {
  background-image: url('./assets/hero.png');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 700px;
}

.signup-container h1 {
  color: #871400;
}

.background-img h2 {
  color: #e1e8ee;
  font-size: 2em;
}

.background-img h3 {
  color: #e1e8ee;
  font-size: 1.5em;
}




#home-head {
  color: #e1e8ee;
  font-size: 4rem;
  margin-bottom: 100px;
}

.site-layout-content {
  background-color: '#45A0A1';
  min-height: 700px;
}

.ant-layout-header {
  display: flex;
  justify-content: flex-end;
}

#components-layout-demo-top .logo {
  width: 120px;
  height: 31px;
  background: url('./assets/helping.png');
  margin: 16px 24px 16px 0;
  float: left;
}

.login-form {
  margin-top: 10%;
}

.message-container {
  display: flex;
  justify-content: center;
}

.message-container p {
  color: #FFF;
}

.user-card {
  display: flex;
  flex-direction: column;

}

.product-card {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: space-around;
  background-color: #45A0A1;
  min-height: 100vh;
}


.container {
  min-width: 600px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  background-color: #45A0A1;
  min-height: 100vh;
}

.left-column {
  width: 65%;
  position: relative;
}

.right-column {
  width: 35%;
  margin-top: 60px;
}

.left-column img {
  width: 400px;
  position: absolute;
  left: 100px;
  top: 20px;
  opacity: 0;
  transition: all 3s ease;
}

.left-column img.active {
  opacity: 1;
}

.product-description {
  border-bottom: 1px solid #e1e8ee;
  margin-bottom: 20px;
}

.product-description span {
  font-size: 12px;
  color: #e1e8ee;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}

.product-description h1 {
  font-weight: 300;
  font-size: 52px;
  color: #FFF;
  letter-spacing: -2px;
}

.product-description p {
  font-size: 16px;
  font-weight: 300;
  color: #FFF;
  line-height: 24px;
}

.product-price {
  display: flex;
  align-items: center;
}

.product-price span {
  font-size: 26px;
  font-weight: 300;
  color: #43474d;
  margin-right: 20px;
}

.cart-btn {
  display: inline-block;
  background-color: #7dc855;
  border-radius: 6px;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  padding: 12px 30px;
  transition: all 0.5s;
}

.site-button-ghost-wrapper {
  display: flex;
  justify-content: center;


}

.cart-btn:hover {
  background-color: #64af3d;
}

.tags {
  display: flex;
  justify-content: space-around;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.signup-container {
  background-color: #45A0A1;
  height: 100vh;
}

.signup-container h1 {
  color: #00474f;
  font-size: 50px;
}

.login-bcg {
  background-color: #45A0A1;
  height: 100vh;
  margin-bottom: 10px;
}

.login-bcg h1 {
  color: #00474f;
}

.profile-container {
  background-color: #45A0A1;
  min-height: 100vh;
}

.profile-container h1 {
  font-size: 3.5em;
  color: #820014;

}

.ant-card-meta-title {
  color: #FFF !important;
}

.text {
  color: "FFF";
  border: 2px solid #FFF;
  text-align: center;
  padding: 5px 5px;

}

.prof-form {
  background-color: #45A0A1;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.addForm {
  background-color: #45A0A1;
  height: 100vh;
}

.addForm h1 {
  text-align: center;
  font-size: 3em;
  color: "#FFF"
}

.button-bcg {
  background-color: '#faad14';
  border-color: '#faad14'
}

.img-cont img {
  width: 420px;
  height: 100px;

}

.img-cont {
  display: flex;
  justify-content: center;
  position: relative;
  float: right;
  text-align: center;


}

.profile-container h1 {


  font-family: sans-serif;
  font-size: 50px;
  font-weight: 600;
  color: rgba(255, 252, 252, 1);
  text-transform: none;
  font-style: normal;
  text-decoration: none;
  letter-spacing: 3.1px;

}



.wrapper {

  margin: 0 auto;
  min-width: 800;
  height: 100vh;
}

.box {
  width: 800px;
  height: 600px;
  background: rgba(255, 255, 255, 1);
  border-radius: 8px;
  text-align: center;
}

.image {
  float: left;
  width: 50%;
  height: 100%;
  display: block;
  background-size: cover;
  border-radius: 8px;
}

.text {
  padding: 55px 40px;
  width: 50%;
  height: 100%;
  float: left;
  border-radius: 8px;
}

.text h1 {
  color: rgba(71, 71, 71, 1);
  text-align: left;
}

.text h5 {
  text-transform: uppercase;
  color: rgba(71, 71, 71, 0.3);
  text-align: left;
  letter-spacing: 3px;
  margin-top: 4px;
}

.text hr {
  display: block;
  color: rgba(71, 71, 71, 0.1);
  height: 2px;
  margin-top: 20px;
}

.text p {
  text-align: left;
  color: rgba(71, 71, 71, 0.35);
  margin-top: 20px;
}

.text span {
  margin-top: 30px;
  float: left;
  color: rgba(71, 71, 71, 1);
  margin-bottom: 10px;
  font-size: 1.9em;
}

.buttons {
  margin: 0 0;
  padding: 0 0;
}